body{
	background-color: #E1AA7D;
}
.jumbotron{
	background-color:#2E2836;
	width: auto;
	height: auto;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size:3em;
	padding-right: 5px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-bottom: 8px;

}
p{
	font-family: italic;

}
 q{
	font-family: 'Pacifico', cursive;
	color: #2E2836;
	font-size: 1.5em;
	padding-top: 2px;

}
img{
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 12px;
  padding-bottom: 5px;
  padding-top: 5px;

}
 p{
	font-size: 1.5em;
	font-family: sans-serif;
	color: white;
}
 h2{
	font-size: 2.3em;
	font-family: 'Oswald', sans-serif; 
	font-weight: bold;
	text-align: center;
	color: #2E2836;
	padding-top: 8px;

}
h2:hover{
	color: red;
	text-decoration: none;
}
.img2 img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 12px;
  padding-bottom: 5px;
  padding-top: 5px;	
}